node_modules
package/
.github/
.git/
test-results/
coverage/
playwright-report
dist.crx
dist.pem
vault_central.zip
.venv
.vscode
.vscode-test
.omx
*.log
package-lock.json
dummy/*
.playwright-user-data*
